/* Breaks */
@lower-break: 480px;
@upper-break: 680px;
/* Colours */
@active-column: bisque;
@alert-bg: lightpink;
@button-bg: bisque;
@button-bg-disabled: gainsboro;
@button-bg-lighter: whitesmoke;
@button-border: gainsboro;
@button-border-hover: limegreen;
@button-text: seagreen;
@button-text-hover: black;
@checkbox-bg-false: firebrick;
@checkbox-bg-true: seagreen;
@grab-handle-hover: bisque;
@line-border: gray;
@message-bg: khaki;
@panel-bg: ivory;
@panel-shadow: gray;
@row-bg-even: ivory;
@row-bg-highlight: lightpink;
@row-bg-inactive: gainsboro;
@row-bg-odd: linen;
@search-bg-display: bisque;
@tag-bg: bisque;
@text: black;
@text-close: firebrick;
@text-control: gray;
@title-bg: linen;
@title-border: orange;
/* Dimensions */
@checkbox-height: 1.25rem;
@checkbox-knob-width: 20px;
@checkbox-width: 40px;
@dialog-title-min-width: 6rem;
/* Font Sizes and Weights */
@button-font-size: 0.7rem;
@button-font-weight: 415;
@data-font-size: 0.9rem;
@data-font-weight: normal;
@dialog-font-size: 0.8rem;
@header-font-size: 0.85rem;
@link-font-weight: normal;
@search-font-size: 0.8rem;
@system-font-size: 0.8rem;
@tag-font-size: 0.8rem;
@title-font-size: 1rem;
#fonts() {
    code: 'Cascadia Code', 'Menlo', 'DejaVu Sans Mono', ui-monospace, monospace;
    cursive: 'Segoe Print', 'Bradley Hand', 'Chilanka', casual, cursive;
    data: 'DejaVu Serif', 'Sitka Small', serif;
    mono: 'Nimbus Mono PS', 'Courier New', monospace;
    system: 'Roboto', system-ui, sans-serif;
}
#grads() {
    button-bg: linear-gradient(0deg, @button-bg, @button-bg-lighter);
    button-bg-border: radial-gradient(
        @button-border-hover, transparent, transparent
    );
    button-bg-disabled: linear-gradient(
        0deg, @button-bg-disabled, @button-bg-lighter
    );
    search-display: linear-gradient(
        0deg, @search-bg-display, @button-bg-lighter
    );
}
body {
    counter-reset: section;
}
.state-table {
    caption {
        display: none;
    }
    table:not(.object-view):not(.preference-columns) {
        border-collapse: collapse; margin: 0.25rem 0 0.5rem; position: relative;
        tr {
            &.even {
                background: @row-bg-even;
            }
            &.odd {
                background: @row-bg-odd;
            }
            &.highlight {
                background: @row-bg-highlight;
            }
            &.inactive {
                background: @row-bg-inactive;
            }
        }
        th, td {
            color: @text; padding: 0 0.5rem;
            &:last-child {
                border-right: 0;
            }
        }
        th {
            background: @panel-bg; border-right: 1px solid @line-border;
            font-family: #fonts[system]; font-size: @header-font-size;
            font-weight: normal; position: relative; text-align: left;
            white-space: nowrap;
            a {
                color: @text; cursor: pointer;
            }
            a:hover {
                font-style: oblique;
            }
            a.filter-control {
                color: @text-control; opacity: 50%;
                position: absolute; right: 0;
            }
            .active-sort-column {
                background: @active-column;
            }
            .column-header {
                display: inline-block;
            }
            &:has(a.filter-control) .column-header {
                padding-right: 20px;
            }
        }
        td {
            border-right: 1px solid transparent; font-family: #fonts[data];
            font-size: @data-font-size; font-weight: @data-font-weight;
            svg.icon {
                height: 20px; width: 20px; vertical-align: text-bottom;
            }
            a[href^='http'] {
                color: @button-text; font-weight: @link-font-weight;
                text-decoration: none;
            }
            a:active, a:focus, a:hover {
                font-style: oblique;
            }
            &.boolean, &.checkbox, &:has(svg.icon) {
                text-align: center;
            }
            &.datetime {
                text-align: right; white-space: nowrap;
            }
            &.number {
                text-align: right;
            }
            &.remainder {
                word-wrap: anywhere;
            }
        }
    }
    .active-control {
        display: inline;
    }
    .active-control-label {
        color: @text-control; cursor: pointer;
        font-family: #fonts[system]; font-size: @system-font-size;
    }
    .bottom-control, .top-control {
        display: none; position: relative;
    }
    .bottom-control.visible, .top-control.visible {
        display: flex; justify-content: space-between;
        @media (max-width: @lower-break) {
            flex-direction: column;
        }
    }
    .bottom-left-control, .bottom-right-control {
        align-items: center; display: flex;
        @media (max-width: @lower-break) {
            max-width: ((@lower-break - 10%) / 2);
        }
    }
    .caption {
        font-family: #fonts[system]; font-weight: normal; margin: 0;
        text-transform: uppercase; white-space: nowrap;
    }
    .chart-container, .table-container {
        margin-bottom: 1rem;
        &.inline {
            display: inline-block; text-align: left; vertical-align: top;
        }
    }
    .credit-control, .title-control {
        @media (max-width: @lower-break) {
            max-width: @lower-break - 20%;
        }
    }
    .cell-content-append {
        display: inline-block; list-style: none; margin-top: 0;
        margin-bottom: 0; padding: 0;
    }
    .cell-tag {
        display: inline-block; margin: 0; padding-right: 0.25rem;
        * {
            display: inline-block; line-height: 12px; vertical-align: middle;
        }
        .tag-arrow-left {
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent; border-right: 8px solid;
            border-right-color: @tag-bg;
            height: 0; width: 0;
            &::after {
                content: '.'; display: inline-block; font-size: larger;
                position: absolute; transform: translate(0.25rem, -100%);
            }
        }
        .tag-arrow-right {
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent; border-left: 12px solid;
            border-left-color: @tag-bg;
            height: 0; width: 0;
            &::before {
                content: '.'; display: inline-block; font-size: larger;
                position: absolute; transform: translate(-0.75rem, -100%);
            }
        }
        .tag-value {
            background: @tag-bg; border-radius: 0 3px 3px 0;
            color: @button-text; cursor: pointer; font-family: #fonts[data];
            font-size: @tag-font-size; font-weight: @link-font-weight;
            padding: 2px 0.25rem;
            &.breadcrumbs {
                border-radius: 3px 0 0 3px; font-size: medium;
                padding-bottom: 0.45rem; padding-top: 0.3rem;
                text-decoration: none;
            }
        }
    }
    .download-link, .page-control a, .page-control li, .page-size-control a {
        color: @text-control; cursor: pointer; font-size: @system-font-size;
    }
    .dialog-button-download {
        order: 99;
    }
    .dialog-buttons {
        display: flex; flex-direction: row-reverse;
        justify-content: space-between;
    }
    .dialog-close {
        background: #grads[button-bg]; border-radius: 3px;
        box-shadow: 2px 2px 2px @panel-shadow; color: @text-close;
        cursor: pointer; font-family: #fonts[system];
        font-size: @system-font-size; font-weight: bold;
        .icon-wrapper {
            align-items: center; display: flex; padding: 0.125rem;
        }
        img, object {
            height: 16px; width: 16px; vertical-align: middle;
        }
        &:hover {
            box-shadow: inset 0 0 3px @panel-shadow; color: @text;
        }
    }
    .dialog-form {
        padding: 0.5rem 1rem 0;
        th {
            min-width: 4rem;
        }
        th:first-child {
            min-width: 6rem;
        }
        td:first-child {
            font-family: #fonts[system]; font-size: @system-font-size;
            font-weight: normal;
        }
        table td:first-child {
            padding-left: 0;
        }
        table td:last-child, table th:last-child {
            padding-right: 0;
        }
        .checkbox {
            isolation: isolate; padding-top: 0.25rem; position: relative;
            text-align: left;
            input[type=checkbox] {
                height: @checkbox-height; left: 0; margin: 0; opacity: 0;
                position: relative; width: @checkbox-width; z-index: 3;
            }
        }
        .checkbox::after {
            background: #grads[button-bg];
            border: 2px inset @button-border; border-radius: 10px;
            content: ''; display: block; position: absolute;
            height: @checkbox-height; left: 0.5rem; top: 0.25rem;
            width: @checkbox-knob-width; z-index: 2;
        }
        .checkbox:has(input[type=checkbox]:checked)::after {
            left: @checkbox-knob-width + 8px;
        }
        .checkbox::before {
            background: @checkbox-bg-false;
            border: 2px inset @button-border; border-radius: 10px;
            content: ''; display: block; position: absolute;
            height: @checkbox-height; left: 0.5rem; width: @checkbox-width;
            z-index: 1;
        }
        .checkbox:has(input[type=checkbox]:checked)::before {
            background: @checkbox-bg-true;
        }
    }
    .dialog-input {
        align-items: baseline; display: flex; gap: 0.25rem;
        margin-bottom: 0.5rem; padding: 0.25rem 0; position: relative;
        button {
            margin-right: 0.25rem; padding: 3px 0.75rem 5px;
        }
        input[type=checkbox] {
            margin: 0 0.25rem 0 0; position: relative; top: 2px;
        }
        select {
            background: #grads[button-bg]; border-radius: 5px;
            font-family: #fonts[data]; font-size: @dialog-font-size;
            font-weight: @data-font-weight;
            option {
                font-family: #fonts[system]; font-size: @system-font-size;
            }
        }
    }
    .dialog-input > span, .dialog-input label {
        color: @text; font-family: #fonts[system]; font-size: @system-font-size;
        line-height: 1rem;
    }
    .dialog-title {
        align-items: center; background: @title-bg;
        border-bottom: 1px solid @title-border;
        border-top-left-radius: 5px; border-top-right-radius: 5px;
        color: @text; display: flex; font-family: #fonts[system];
        font-size: @title-font-size; justify-content: space-between;
        min-width: @dialog-title-min-width;
        padding: 0.25rem 0.5rem 0.25rem 1rem;
    }
    .dropzone.dragover {
        border: 2px solid; border-color: @button-text;
    }
    .filter-dialog, .preference-dialog {
        background: @panel-bg; border: 1px solid; border-radius: 5px;
        box-shadow: 3px 3px 3px @panel-shadow;
        position: absolute; z-index: 10;
    }
    .filter-dialog {
        top: 25px;
    }
    .filter-label {
        display: inline-block; padding-right: 0.25rem;
        img, svg {
            height: 1rem; width: 1rem; vertical-align: text-bottom;
        }
        &.text {
            padding-left: 0.25rem;
        }
    }
    .filter-value {
        color: @button-text; cursor: pointer;
        &:hover {
            font-style: italic;
        }
    }
    .filter-values {
        font-family: #fonts[data]; font-size: @data-font-size;
        font-weight: @link-font-weight; height: 6.5rem;
        list-style: none; margin: 0.25rem 0; overflow: auto;
        padding: 0 0.5rem; text-align: left;
    }
    .grab-handle {
        align-items: center; display: flex; justify-content: center;
        .icon-wrapper {
            display: block; height: 20px; width: 20px;
        }
    }
    .grab-handle-cell {
        cursor: grab; padding-top: 0.25rem;
        &:hover {
            background: @grab-handle-hover;
        }
    }
    .highcharts-figure {
        margin: 0;
    }
    .highcharts-legend.highcharts-no-tooltip {
        display: none;
    }
    .page-control, .page-size-control {
        color: @text-control; font-family: #fonts[system];
        font-size: @system-font-size; margin: 0; padding-left: 0;
    }
    .page-control, .page-control li, .page-size-control, .page-size-control li {
        display: inline-block;
    }
    .page-control li.disabled {
        cursor: text; text-decoration: line-through;
    }
    .page-control li:first-letter {
        text-transform: capitalize;
    }
    .page-control li.page-indicator {
        cursor: text;
    }
    .page-size-control li.selected-page-size {
        text-decoration: underline;
    }
    .preference-columns {
        border: 2px transparent solid; border-collapse: collapse;
        user-select: none;
        th {
            background: @panel-bg; border-right: 1px solid @line-border;
            color: @text; font-family: #fonts[system];
            font-size: @header-font-size; font-weight: normal;
            padding: 0 0.5rem; position: relative; text-align: left;
            white-space: nowrap;
        }
        th:last-child {
            border-right: 0;
        }
        td:first-child, th:first-child {
            padding-left: 0;
        }
        td:last-child, th:last-child {
            padding-right: 0;
        }
    }
    .preference-control {
        display: inline-block;
        img, svg {
            height: 24px; width: 24px; vertical-align: middle;
        }
        &.text {
            padding: 0 0.25rem;
        }
    }
    .preference-dialog {
        top: 2rem;
        &.control-right {
            right: 0.5rem;
        }
    }
    .preference-link {
        cursor: pointer; display: inline-block;
    }
    .search-box {
        display: inline-block;
        .search-wrapper {
            align-items: stretch; display: flex; line-height: 1rem;
            input.search-field {
                color: inherit; border: none; border-radius: 0 2px 2px 0;
                border-bottom: 2px inset @button-border;
                border-top: 2px inset @button-border;
                font-family: #fonts[data]; font-size: @search-font-size;
                line-height: 1rem; margin: 0; outline: 0; padding: 0 0.25rem;
                &:placeholder-shown {
                    font-style: italic;
                }
            }
            .search-hidden {
                display: inline-block; overflow: hidden; position: relative;
                select {
                    cursor: pointer; height: 1.75rem; left: 0; opacity: 0;
                    position: absolute;
                }
                .search-arrow {
                    border: 3px solid transparent; border-bottom-width: 0;
                    border-top: 3px solid @line-border;
                    font-size: 0; height: 0; line-height: 0; position: absolute;
                    right: 4px; top: 9px; width: 0;
                }
                .search-display {
                    background: #grads[search-display];
                    border: 2px outset @button-border;
                    border-radius: 50px 0 0 50px; color: @text-control;
                    display: inline-block; font-family: #fonts[system];
                    font-size: @system-font-size;
                    padding: 0.3rem 1rem 0.2rem 0.5rem; vertical-align: top;
                }
            }
            .search-button button, .search-button button::after {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            .search-button button {
                padding: 2px 0.5rem 0 0.25rem;
                .icon-wrapper {
                    display: inline-block; height: 20px; width: 20px;
                }
            }
        }
    }
    .section-row {
        background: @row-bg-inactive; font-family: #fonts[system];
        font-size: @system-font-size;
        .section-check {
            text-align: center;
        }
        .section-check::before {
            counter-increment: section; content: counter(section) '. ';
        }
        .section-tag {
            .tag-value {
                display: block;
            }
            .tag-value:hover {
                cursor: pointer; font-style: italic;
            }
        }
    }
    .status-messages {
        background: @message-bg; border-radius: 5px;
        color: @text; font-family: #fonts[system]; font-size: @system-font-size;
        margin-top: 0.25rem; padding: 0.25rem 0.5rem; text-align: center;
        a {
            color: @button-text; cursor: pointer; margin-left: 0.5rem;
        }
        a:hover {
            font-style: oblique;
        }
        strong {
            font-family: #fonts[data]; font-size: @data-font-size;
            font-weight: @data-font-weight;
        }
    }
    .table-form .credit-control {
        display: flex; justify-content: space-between;
    }
    .table-form .table-button, .table-form button {
        margin-right: 0.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
    .table-form .table-button, .table-form button, .dialog-form button {
        background: #grads[button-bg];
        border: 2px outset @button-border; border-radius: 50px;
        color: @button-text; cursor: pointer; display: inline-block;
        overflow: hidden; padding: 0.25rem 0.75rem;
        position: relative; text-decoration: none;
        transition: border 0.5s, color 0.5s;
        span {
            font-family: #fonts[system]; font-size: @button-font-size;
            font-weight: @button-font-weight; letter-spacing: 0.1rem;
            position: relative; text-decoration: none;
            text-transform: uppercase; white-space: nowrap; z-index: 3;
        }
        &::after {
            background: #grads[button-bg];
            border-radius: 50px; content: '';
            inset: 3px; position: absolute; z-index: 2;
        }
        &::before {
            background: #grads[button-bg-border]; content: ''; display: block;
            height: 3rem; left: var(--x); opacity: 0; position: absolute;
            top: var(--y); transform: translate(-50%, -50%);
            transition: opacity 0.5s; width: 3rem; z-index: 1;
        }
        &:hover {
            border: 2px inset @button-border; color: @button-text-hover;
            &::before {
                opacity: 1;
            }
        }
    }
    .table-form a.table-button {
        line-height: 0.875rem;
        &[disabled=disabled] {
            padding: 0.25rem 0.75rem;
        }
    }
    .table-form button.table-button {
        padding: 0.25rem 0.75rem;
    }
    .table-form .table-button[disabled=disabled],
    .table-form .table-button[disabled=disabled]::after,
    .table-form button[disabled=disabled],
    .table-form button[disabled=disabled]::after,
    .dialog-form button[disabled=disabled],
    .dialog-form button[disabled=disabled]::after {
        background: #grads[button-bg-disabled];
    }
    .table-form .table-button.right {
        position: absolute; right: 0.5rem;
    }
    .top-left-control, .top-right-control {
        align-items: center; display: inline-flex; justify-content: flex-start;
        margin-top: 0.25rem;
        @media (max-width: @lower-break) {
            max-width: ((@lower-break - 10%) / 2);
        }
    }
    &.object-view {
        table {
            border-collapse: collapse; margin: 0.25rem 0 0.5rem;
            position: relative;
        }
        td {
            font-family: #fonts[data]; font-size: @data-font-size;
            font-weight: @data-font-weight; padding: 0 0.5rem;
        }
        td:first-child {
            border-right: 1px solid @line-border; font-family: #fonts[system];
            font-size: @system-font-size; font-weight: normal;
            padding-right: 0.5rem; white-space: nowrap;
            @media (max-width: @upper-break) {
                border: 0;
            }
        }
        td.boolean {
            text-align: left;
        }
        tr {
            line-height: 1.5rem;
            &.even {
                background: @row-bg-even;
            }
            &.odd {
                background: @row-bg-odd;
            }
        }
        .caption {
            margin-left: 0.5rem;
        }
        .credit-control {
            justify-content: flex-start; padding-bottom: 0.5rem;
            position: relative;
            .table-button.right {
                position: absolute; right: 0;
            }
        }
        .state-table td:first-child {
            border: 0; font-family: #fonts[data]; font-size: @data-font-size;
            font-weight: @data-font-weight;
        }
        .state-table th:first-child a {
            color: @text;
        }
        @media (max-width: @upper-break) {
            table td::before {
                display: none;
            }
        }
    }
    .state-table .table-container {
        margin-bottom: 0;
        .credit-control {
            padding-bottom: 0;
        }
    }
    @media (max-width: @upper-break) {
        table {
            td {
                display: grid; grid-template-columns: 15ch auto;
            }
            td, td.checkbox {
                justify-content: left; text-align: left !important;
            }
            td::before {
                color: @text-control; content: attr(data-cell) ': ';
                font-family: #fonts[system]; font-size: @system-font-size;
                text-transform: capitalize;
            }
            th, td.no-data::before {
                display: none;
            }
        }
        .chart-container {
            display: none !important;
        }
    }
}
.state-table-error {
    background: @alert-bg; margin: 0 16%;
}
