#colours() {
    active-column: bisque;
    button-background: #e9e9ed;
    button-border: gray;
    button-hover: lightgray;
    close-background: red;
    contrast: white;
    control-text: gray;
    header-border: gray;
    link: seagreen;
    message-background: khaki;
    panel-background: ivory;
    row-even: ivory;
    row-highlight: lightpink;
    row-inactive: gainsboro;
    row-odd: linen;
    text: black;
    title-background: linen;
    title-border: orange;
}
body {
    counter-reset: section;
}
.state-table {
    display: inline-block; text-align: left;
    .active-control-label {
        font-family: sans-serif;
    }
    .page-control li,
    .page-size-control li {
        display: inline-block;
    }
    .download-link,
    .page-control a,
    .page-control li,
    .page-size-control a,
    .active-control-label {
        color: #colours[control-text]; cursor: pointer; font-size: small;
    }
    .page-control,
    .page-size-control {
        color: #colours[control-text]; font-family: sans-serif;
        font-size: small; margin: 0; padding-left: 0;
    }
    .page-control li.disabled {
        cursor: text; text-decoration: line-through;
    }
    .page-control li:first-letter {
        text-transform: capitalize;
    }
    .page-control li.page-indicator {
        cursor: text;
    }
    .page-size-control li.selected-page-size {
        text-decoration: underline;
    }
    .preference-link {
        cursor: pointer;
    }
    .search-box input.search-field {
        border-radius: 5px;
    }
    .section-row {
        background: #colours[row-inactive]; font-family: sans-serif;
        font-size: smaller;
        .section-check {
            text-align: center;
        }
        .section-check::before {
            counter-increment: section;
            content: counter(section) '. ';
        }
        .section-tag {
            .tag-value {
                display: block;
            }
            .tag-value:hover {
                cursor: pointer; font-style: italic;
            }
        }
    }
    .status-messages {
        background: #colours[message-background]; border-radius: 5px;
        font: 0.8rem sans-serif; margin-top: 5px; padding: 0.25rem 0.5rem;
        text-align: center;
    }
    .status-messages a {
        color: #colours[link]; cursor: pointer; margin-left: 5px;
    }
    .status-messages a:hover {
        font-style: italic;
    }
    .status-messages strong {
        font-family: serif;
    }
    .active-control,
    .bottom-left-control,
    .bottom-right-control,
    .search-box,
    .top-left-control,
    .top-right-control {
        display: inline-block;
    }
    .bottom-left-control {
        float: left;
    }
    .bottom-right-control,
    .top-right-control {
        float: right; text-align: right;
    }
    .bottom-control,
    .top-control {
        display: none; position: relative;
    }
    .bottom-control.visible,
    .top-control.visible {
        display: block;
    }
    table {
        border-collapse: collapse; display: block; margin-bottom: 5px;
        margin-top: 5px; position: relative; width: 100%;
        td {
            border-right: 1px solid transparent;
        }
        td:last-child {
            border-right: 0;
        }
        td, th {
            box-sizing: border-box; padding: 0 0.5rem 0 0.5rem;
        }
        td a {
            color: #colours[link];
        }
        td a:link, td a:visited {
            text-decoration: none;
        }
        td a:active, td a:hover {
            font-style: italic;
        }
        td.checkbox {
            text-align: center;
        }
        td.number {
            text-align: right;
        }
        th {
            background: #colours[panel-background]; border-right: 1px solid;
            border-color: #colours[header-border]; font-family: sans-serif;
            font-weight: normal; white-space: nowrap;
        }
        th:last-child {
            border-right: 0px;
        }
        th.active-sort-column {
            background: #colours[active-column];
        }
        th a.filter-control {
            color: #colours[control-text]; display: inline-block;
            font-weight: normal;
        }
        th a {
            color: #colours[text]; cursor: pointer;
        }
        tr.even {
            background: #colours[row-even];
        }
        tr.odd {
            background: #colours[row-odd];
        }
        tr.highlight {
            background: #colours[row-highlight];
        }
        tr.inactive {
            background: #colours[row-inactive];
        }
    }
    .cell-content-append {
        display: inline-block; list-style: none; margin-top: 0;
        margin-bottom: 0; padding: 0 0.25rem 0 0.25rem;
    }
    .cell-tag {
        display: inline-block; margin: 0; padding-right: 0.25rem;
        * {
            display: inline-block; line-height: 12px; vertical-align: middle;
        }
    }
    .cell-tag .tag-arrow-left {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; border-right: 8px solid;
        border-right-color: #colours[button-background];
        height: 0; width: 0;
    }
    .cell-tag .tag-arrow-left::after {
        content: '.'; display: inline-block;
        font-size: larger; position: absolute;
        transform: translate(0.25rem, -100%);
    }
    .cell-tag .tag-value {
        background: #colours[button-background]; border-radius: 0 3px 3px 0;
        color: #colours[link]; cursor: pointer; font-size: x-small;
        padding: 2px 0.25rem 2px 0.25rem;
    }
    .filter-dialog,
    .preference-dialog {
        background: #colours[panel-background]; border: 1px solid;
        border-radius: 3px; box-shadow: 3px 3px 3px gray;
        position: absolute; top: 25px; z-index: 10;
    }
    .preference-dialog.control-right {
        right: 0px;
    }
    table.preference-columns {
        border: 2px transparent solid; user-select: none;
    }
    .dropzone.dragover {
        border: 2px solid; border-color: #colours[link];
    }
    .dialog-buttons {
        text-align: right;
    }
    .dialog-button-download {
        float: left;
    }
    .dialog-close {
        align-items: center;
        background: #colours[close-background]; border-radius: 3px;
        box-shadow: 3px 3px 3px gray; color: #colours[contrast];
        cursor: pointer; display: flex; filter: sepia(66%); float: right;
        font-family: sans-serif; font-size: smaller; font-weight: bold;
        height: 100%; padding-left: 3px; padding-right: 3px;
    }
    .dialog-close:hover {
        filter: sepia(0%);
    }
    .dialog-form {
        padding: 0 0.5rem 0.25rem 0.5rem;
        table td:first-child {
            padding-left: 0;
        }
        table td:last-child {
            padding-right: 0;
        }
        table th:first-child {
            padding-left: 0;
        }
        table th:last-child {
            padding-right: 0;
        }
    }
    .dialog-input {
        padding-bottom: 3px; padding-top: 3px;
    }
    .dialog-input button {
        margin-right: 3px;
    }
    .dialog-input span,
    .dialog-input label {
        font: normal 0.8rem sans-serif;
    }
    .dialog-title {
        background: #colours[title-background];
        border-bottom: 1px solid; border-color: #colours[title-border];
        font: bold 1rem sans-serif; min-width: 6rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem; text-align: left;
    }
    .filter-values {
        font: normal smaller serif; height: 100px; list-style: none;
        margin-top: 3px; margin-bottom: 3px; overflow: auto;
        padding: 0 0.5rem 0 0.5rem; text-align: left;
    }
    .filter-value {
        color: #colours[link]; cursor: pointer;
    }
    .filter-value:hover {
        font-style: italic;
    }
    .grab-handle-cell {
        cursor: grab; text-align: center;
    }
    .grab-handle-cell:hover {
        background: #colours[link];
    }
    .chart-container.inline,
    .table-container.inline {
        display: inline-block; vertical-align: top;
    }
    .table-container.inline {
        padding-top: 10px;
    }
    .table-form .table-button,
    .table-form button {
        margin-right: 0.5rem;
    }
    .table-form .table-button:last-child,
    .table-form button:last-child {
        margin-right: 0;
    }
    .table-form .table-button {
        background: #colours[button-background];
        border: 1px solid; border-color: #colours[button-border];
        border-radius: 3px; color: #colours[text];
        font-family: sans-serif; font-size: 12.5px; font-weight: 400;
        padding: 3px 4px 2px 4px; text-align: center;
        text-decoration: none; vertical-align: baseline;
    }
    .table-form .table-button:hover {
        background: #colours[button-hover];
    }
    .chart-container.inline {
        padding-top: 6px;
    }
    .highcharts-figure {
        margin: 0;
    }
    .highcharts-legend.highcharts-no-tooltip {
        display: none;
    }
}
.state-table.object-view {
    box-shadow: 3px 3px 3px gray; display: inline-block; text-align: left;
    td:first-child {
        border-right: 1px solid; font: normal 1rem sans-serif;
        padding-right: 0.5rem; white-space: nowrap;
    }
    .state-table td:first-child {
        border: 0; font-family: serif;
    }
    .state-table th:first-child a {
        color: #colours[text];
    }
    .table-form .table-button,
    .table-form button {
        margin-bottom: 0.5rem;
    }
    .table-form .table-button:first-child,
    .table-form button:first-child {
        margin-left: 0.5rem;
    }
}
