div.state-table,
div.state-table .page-control li,
div.state-table .page-size-control li {
   display: inline-block;
}
div.state-table .download-link,
div.state-table .filter-value,
div.state-table .page-control a,
div.state-table .page-size-control a,
div.state-table .preference-link,
div.state-table th a {
   cursor: pointer;
}
div.state-table .active-control-label {
   color: gray; font-size: small;
}
div.state-table .page-control,
div.state-table .page-size-control {
   color: gray; font-size: small; margin: 0; padding-left: 0;
}
div.state-table .page-control li {
   cursor: pointer;
}
div.state-table .page-control li.disabled {
   cursor: text; text-decoration: line-through;
}
div.state-table .page-control li:first-letter {
   text-transform:capitalize;
}
div.state-table .page-size-control li.selected-page-size {
   text-decoration: underline;
}
div.state-table .status-messages {
   background: khaki; border-radius: 3px; margin-top: 5px;
   padding: 3px 5px; text-align: center;
}
div.state-table .status-messages a {
   margin-left: 5px; text-decoration: underline;
}
div.state-table .active-control,
div.state-table .bottom-left-control,
div.state-table .bottom-right-control,
div.state-table .search-box,
div.state-table .top-left-control,
div.state-table .top-right-control {
   display: inline-block;
}
div.state-table .bottom-right-control,
div.state-table .top-right-control {
   float: right; padding-top: 2px; text-align: right;
}
div.state-table .top-control {
   position: relative;
}
div.state-table table {
   border-collapse: collapse; display: block; margin-bottom: 5px;
   margin-top: 5px; position: relative; width: 100%;
}
div.state-table table th {
   background: ivory; border-right: 1px gray solid; padding-left: 5px;
   padding-right: 5px;
}
div.state-table table th.active-sort-column {
   background: bisque;
}
div.state-table table th a.filter-control {
   color: gray; display: inline-block; font-weight: normal;
   -webkit-transform: rotateX(180deg); transform: rotateX(180deg);
}
div.state-table table th:last-child {
   border-right: 0px;
}
div.state-table table tr.odd {
   background: linen;
}
div.state-table table tr.highlight {
   background: DarkSeaGreen !important;
}
div.state-table table tr.inactive {
   background: Gainsboro !important;
}
div.state-table table td {
   padding-left: 5px; padding-right: 5px;
}
div.state-table table td.number {
   text-align: right;
}
div.state-table td.checkbox {
   text-align: center;
}
div.state-table .cell-content-append {
   display: block; list-style: none; margin-top: 0;
   margin-bottom: 0; padding-left: 3px; padding-right: 3px;
}
div.state-table .cell-tag {
   display: inline-block; margin-right: 5px;
   padding-left: 3px; padding-right: 3px;
}
div.state-table .cell-tag .tag-arrow-left {
   display: inline-block; border-top: 8px solid transparent;
   border-bottom: 8px solid transparent; border-right: 8px solid gray;
   height: 0; vertical-align: middle; width: 0;
}
div.state-table .cell-tag .tag-value {
   background: gray;
   border-bottom-right-radius: 3px; border-top-right-radius: 3px;
   color: white; cursor: pointer; display: inline-block; font-size: x-small;
   padding-bottom: 1px; padding-left: 3px;
   padding-right: 3px; padding-top: 2px;
   vertical-align: middle;
}
div.state-table .filter-dialog,
div.state-table .preference-dialog {
   background: ivory; border: 1px solid; border-radius: 3px;
   position: absolute; top: 25px; z-index: 10;
}
div.state-table .preference-dialog {
   right: 0px;
}
div.state-table table.preference-columns {
   border: 2px transparent solid; user-select: none;
}
div.state-table .dropzone.dragover {
  border: 2px orange solid;
}
div.state-table .dialog-buttons {
   text-align: right;
}
div.state-table .dialog-button-download {
   float: left;
}
div.state-table .dialog-close {
   background: red; border-radius: 3px; color: white; cursor: pointer;
   display: inline-block; font-family: sans-serif; font-size: smaller;
   font-weight: bold; padding-left: 3px; padding-right: 3px;
}
div.state-table .dialog-form {
   padding-left: 3px; padding-right: 3px;
}
div.state-table .dialog-input {
   padding-bottom: 3px; padding-top: 3px;
}
div.state-table .dialog-input button {
   margin-right: 3px;
}
div.state-table .dialog-title {
   padding-bottom: 3px; padding-right: 3px; text-align: right;
}
div.state-table .filter-values {
   font-weight: normal; list-style: none; margin-top: 3px; margin-bottom: 3px;
   padding-left: 3px; padding-right: 3px; text-align: left;
}
div.state-table .grab-handle-cell {
   text-align: center;
}